@model SalesWebMVC.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">@Model.Message</h2>
<a href="javascript:history.go(-1)">Return to Sellers</a>

@if (Model?.ShowRequestId ?? false)
{
    <p>
        <strong>Request ID:</strong> <code>@Model?.RequestId</code>
    </p>
}
